* {
    box-sizing: border-box;
}

html {
    --cell-size: 50px;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    display: flex;
    flex-direction: row;

    height: var(--cell-size);
    width: var(--cell-size);
    outline: 1px dotted black;
}

.cell.wall {
    background: lightcoral;
}

.cell.floor {
    background: lightgoldenrodyellow;
}

.cell.start {
    background: aquamarine;
}

.cell.finish {
    background: purple;
}

.player {
    width: 100%;
}